.Palette {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Palette-colors {
  height: 90%;
}

.go-back {
  background-color: black;
  width: 20%;
  height: 50%;
  margin: 0 auto;
  margin-bottom: -6px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.go-back a {
  text-decoration: none;
}

.back-button {
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  text-align: center;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  border: none;
}
